<!doctype html>
<html lang="en" ng-app="app">
	<head>
		<meta charset="utf-8">
		<title>Backend Less Angular Todo app</title>
		<meta name="description" content="Backend Less Angular Todo app">
		<meta name="author" content="Nam Tran">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body ng-controller="todoCtrl as vm">
		<section id="todoapp">
			<header id="header">
				<h1>todos</h1>
				<form ng-submit="vm.add()">
					<input id="new-todo" placeholder="What needs to be done?" autofocus="" ng-model="vm.todoContent">
				</form>
			</header>
			<section id="main">
				<input id="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul id="todo-list">
					<li ng-repeat="todo in vm.todoList track by todo.id">
						<div class="view">
							<input class="toggle" type="checkbox" ng-checked="todo.completed" ng-click="vm.completed(todo)">
							<label>{{todo.content}}</label>
							<button class="destroy" ng-click="vm.remove(todo)"></button>
						</div>
					</li>
				</ul>
			</section>
		</section>
		<script src="public/components/angular/angular.js"></script>
		<script src="public/components/angular-mocks/angular-mocks.js"></script>
		<script src="public/components/faker/build/build/faker.js"></script>
		<script src="public/components/ngstorage/ngStorage.js"></script>

		<script src="src/app.js"></script>
		<script src="src/todo/todo.js"></script>
		<script src="src/todo/todoCtrl.controller.js"></script>
		<script src="src/todo/todoApi.service.js"></script>
		<script src="src/mockdata/mockdata.js"></script>
		<script src="src/mockdata/mockTodoApi.service.js"></script>
	</body>
</html>